.screen {
    font-family: "Roboto";
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
}

.sidebar {
    box-sizing: border-box;
    width: 250px;
    background-color: rgb(100, 100, 100);
    padding: 10px;
    font-size: 20px;
    float: right;
}

.sidebar div {
    width: 220px;
    box-sizing: border-box;
}

.display {
    display: flex;
    flex-direction: row;
    height: 100%;
    box-sizing: border-box;
}

.tree_disp {
    height: 100%;
    width: 100%;
    background-color: beige;
}

.mainbody {
    background-color: beige;
    width: 100%;
}

.randomize,
.nearly,
.sort,
.search,
.resetall {
    background-color: white;
    padding: 15px;
    margin: 5px;
    cursor: pointer;
    box-sizing: border-box;
    transition: 0.3s;
}

.nearly:hover,
.randomize:hover,
.resetall:hover {
    background-color: rgb(255, 200, 148);
}

.sort,
.search {
    background-color: rgb(255, 168, 86);
    transition: 0.4s;
    color: white;
    font-size: 25px;
}

.sort:hover,
.search:hover {
    background-color: rgb(255, 133, 102);
}

.searching,
.sorting {
    background-color: rgb(255, 133, 102);
}

.sizedrag {
    background-color: lightgrey;
    padding: 15px;
    margin: 5px;
    position: relative;
    box-sizing: border-box;

}



.shower {
    position: relative;
    left: 165px;
    bottom: 28px;
}

.comparer {
    border: 1px solid purple
}



.compareto {
    border: 1px solid red
}



.graph {
    display: flex;
    flex-direction: row;
    width: 60vw;
    margin: 0 auto;
}

.graphline {
    background-color: lightblue;
    margin: 1px;
    width: 2vw;
}

#comparerline {
    background-color: purple;
}
#minline {
    background-color: green;
}

#comparetoline {
    background-color: red;
}

.header {
    height: 100px;
    background-color: rgb(124, 123, 123);
    line-height: 100px;
    text-align: left;
    font-size: 50px;
    color: white;
    padding: 0vh 5vw;
    box-sizing: border-box;
    width: 100%;
}

.dropdown {
    cursor: pointer;
}

.sidebar div .dragcircle {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: black;
    cursor: pointer;
}

.sidebar div .dragline {
    position: relative;
    background-color: grey;
    width: 180px;
    height: 2px;
    top: 6px;
}

.pickme {
    background-color: white;
    margin: 10px 5px 0px 5px;
    padding: 15px;
    box-sizing: border-box;
}

.picker {
    background-color: lightgrey;
    margin: 0px 5px;
    padding: 15px;
    box-sizing: border-box;
    height: 55px;
    cursor: pointer;
    transition: 0.3s;
}

.picker:hover {
    background-color: rgb(255, 173, 96);
    color: white;
}

.dropdown {
    background-color: rgb(173, 173, 173);
    margin: 0px 5px;
    box-sizing: border-box;
}

.dropdown div {
    padding: 8px 15px;
    border: 1px solid lightgrey;
    border-top: none;
    font-size: 18px;
    transition: 0.3s;
}
.dropdown div:hover {
    background-color: rgb(255, 200, 148);
}

.up,
.down {
    width: 20px;
    height: 10px;
    position: relative;
    top: 4px;
}

.cat_sele{
    float: right;
    margin: 0vh 15vw;
    font-size: 20px;
    color: black;
    line-height: 48px;
    box-sizing: border-box;
    width: 280px;
    height: 50px;
}

.cat_sele .cat_announce {
    background-color: white;
    width: 280px;
    height: 50px;
    padding: 0px 15px;
    box-sizing: border-box;
}

.cat_sele .cat_out {
    background-color: lightgray;
    width: 280px;
    height: 50px;
    box-sizing: border-box;
    padding: 0px 15px;
    cursor: pointer;
    transition: 0.3s;
}

.cat_sele .cat_out:hover {
    background-color: rgb(255, 173, 96);
    color: white;
}

.cat_shower {
    width: 0px;
    height: 50px;
    padding: 0px 15px;
    box-sizing: border-box;
    position: relative;
    bottom: 51px;
    left: 213px;
}

.cat_sele .cat_dropdown {
    box-sizing: border-box;
}

.cat_sele .cat_dropdown div {
    background-color: rgb(173, 173, 173);
    position: relative;
    border: 1px solid lightgrey;
    border-top: none;
    font-size: 18px;
    box-sizing: border-box;
    padding: 0px 15px;
    cursor: pointer;
    transition: 0.3s;
}

.cat_dropdown div:hover {
    background-color: rgb(255, 200, 148);
}

.svg {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.node {
    background-color: black;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: absolute;
}

.square {
    background-color: beige;
    border: 1px solid grey;
}

.grid {
    display: grid;
    height: 100%;
    width: 100%;

}

.wall {
    background-color: black;
}

.start {
    background-color: green;
}

.target {
    background-color: red;
}

div .searched {
    background-color: lightblue;
}

.graph_sidebar {
    position: fixed;
    right: 0px;
    background-color: rgb(100, 100, 100);
    width: 250px;
    height: 100%;
    top: 100px;
    font-size: 20px;
}

.graph_sidebar div {
    width: 220px;
    box-sizing: border-box;
    margin: 0 auto;
}

.graph_sidebar .picker .dropdown div{
    margin: 0 auto;
}

.graph_sidebar .picker .dropdown {
    margin: 0 auto;
    position: relative;
    bottom: 10px;
    right: 15px;
    color: black;
}
.graph_sidebar .search {
    margin-top: 15px;
}

.graph_sidebar .picker {
    margin: 0 auto;
    margin-bottom: 0px;
}

.graph_sidebar .resetall {
    margin-top: 5px;
    margin-bottom: 10px;
}
.graph_sidebar .pickme {
    margin-top: 10px;
}

.path {
    background-color: yellow;
}

.speed {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.speed div {
    margin: 5px auto;
}

.speed .speedbutton {
    cursor: pointer;
    transition: 0.3s;
    padding: 10px;
    width: 190px;
}

.speed .speed1 {
    background-color: rgb(190, 255, 199);
}
.speed .speed1:hover {
    background-color: rgb(82, 218, 100);
}
.speed .speedselect1 {
    background-color: rgb(82, 218, 100);
}

.speed .speed2 {
    background-color: rgb(252, 225, 175);
}
.speed .speed2:hover {
    background-color: rgb(253, 176, 33);
}
.speed .speedselect2 {
    background-color: rgb(253, 176, 33);
}

.speed .speed3 {
    background-color: rgb(253, 183, 183);
}
.speed .speed3:hover {
    background-color: rgb(255, 87, 87);
}
.speed .speedselect3 {
    background-color: rgb(255, 87, 87);
}

.tutorial {
    position: fixed;
    width: 50vw;
    height: 50vh;
    top: 25vh;
    left: 25vw;
    background-color: rgb(255, 255, 245);
    font-size: 1.5vw;
}
.tutorial h1 {
    padding: 1vh 3vw;
}
.tutorial p {
    padding: 0 3vw;
}

.tutorial .x_button {
    width: 2vw;
    height: 2vw;
    position: fixed;
    top: 27vh;
    right: 26vw;
    cursor: pointer;
}