.sidebar {
    box-sizing: border-box;
    width: 250px;
    background-color: greenyellow;
    padding: 10px;
    font-size: 20px;
    float: right;
}

.sidebar div {
    width: 220px;
    box-sizing: border-box;
}

.display {
    display: flex;
    flex-direction: row;
}

.mainbody {
    background-color: beige;
    width: 100%;
}

.randomize,
.nearly,
.sort {
    background-color: white;
    padding: 15px;
    margin: 2px;
    cursor: pointer;
    box-sizing: border-box;
}



.sizedrag {
    background-color: white;
    padding: 15px;
    margin: 2px;
    position: relative;
    box-sizing: border-box;

}



.shower {
    cursor: pointer;
}

.comparer {
    border: 1px solid purple
}



.compareto {
    border: 1px solid red
}



.graph {
    display: flex;
    flex-direction: row;
    width: 60vw;
    margin: 0 auto;
}

.graphline {
    background-color: lightblue;
    margin: 1px;
    width: 2vw;
}

#comparerline {
    background-color: purple;
}
#minline {
    background-color: green;
}

#comparetoline {
    background-color: red;
}

.header {
    height: 10vh;
}

.dropdown {
    cursor: pointer;
}

.sidebar div .dragcircle {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: black;
    cursor: pointer;
}

.sidebar div .dragline {
    position: relative;
    background-color: grey;
    width: 180px;
    height: 2px;
    top: 6px;
}

